@import url(css/reset.css);
@import url(css/960.css);
body { background:#F2F6F7; color:#656565; font:13px Arial, Helvetica, Sans-serif; position:relative; }
#header { height:220px; clear:both; }
#content { min-height:400px; padding-bottom:240px; clear:both; }
#footer { background:url("images/footer_bg.png") repeat-x scroll center top #0A0E11; clear:both; min-height:220px; position: absolute; bottom:0; width:100%; }
#footer .container_24 { background:url("images/footer_bg_center.png") no-repeat scroll center top transparent; min-height:180px; padding-top:40px; }
#footer h3 { border-bottom:1px solid #363A3B; color:#FFFFFF; font-family:"MergeRegular-1", "MergeRegular-2", Arial, sans-serif; font-size:20px; margin-bottom:10px; padding-bottom:10px; }
#footer ul { list-style:none; margin:0; }
#footer li { margin-bottom: 10px; }
#footer a { color:#737373; text-decoration:none; }
#footer a:hover { color:#cccccc; }
.center, *[align="center"] { margin-left: auto; margin-right: auto; }
.tbl, .tbl1, .tbl2 { padding:10px; }
.tbl-border { background:#FFF; border:1px solid #e4e8e9; padding:9px; -moz-border-radius: 10px; -webkit-border-radius:10px; border-radius:10px; border-collapse:separate; }
.forum_thread_table tr:first-child td a { color:#FFF; }
.forum_thread_table tr:first-child td, .forum_table tr:first-child td, .forum-caption { line-height:14px; padding:11px; background:url(images/th.png) 0 0 repeat-x; color:#FFFFFF; font-family:"MergeRegular-1", "MergeRegular-2", Arial, sans-serif; font-size:14px; font-weight:bold; text-shadow:0 -1px 0 #2E889F; }
.forum-caption:first-child, .forum_table tr:first-child td:first-child, .forum_thread_table tr:first-child td:first-child { -moz-border-radius-topleft: 10px; -moz-border-radius-bottomleft: 10px; -webkit-border-top-left-radius: 10px; -webkit-border-bottom-left-radius:10px; border-top-left-radius: 10px; bottom-left-radius:10px; }
.forum-caption:last-child, .forum_table tr:first-child td:last-child, .forum_thread_table tr:first-child td:last-child { -moz-border-radius-topright: 10px; -moz-border-radius-bottomright: 10px; -webkit-border-top-right-radius: 10px; -webkit-border-bottom-right-radius:10px; border-top-right-radius: 10px; border-bottom-right-radius:10px; }
.forum_cat_name, .forum_thread_title { font-size:16px; }
.forum_thread_post_space { border-bottom: 1px solid #ddd }
.forum_thread_post_date a { display:none}
.textbox { background-color:#fff;  border:1px solid #e4e8e9; color:#666666; font:13px 'Lucida Sans', Arial, sans-serif; padding:10px; margin:0 2px 5px 2px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
.textbox:focus { -moz-box-shadow:0px 0px 4px #b5e9f6; -webkit-box-shadow:0px 0px 4px #b5e9f6; box-shadow:0px 0px 4px #b5e9f6; }
#debug { position:fixed; bottom:0; left:0; padding:5px; font-size:10px; background:#FF9; }
/* forum button */
a.forumbutton { display:inline-block; height:23px; padding:0 0 0 3px; font-size:11px; font-weight:bold; color:#333; text-shadow:1px 1px 0 #fff; background:url(images/forum/forumbutton.png) 0 0 no-repeat; white-space:nowrap; border:none; overflow:visible; cursor:pointer; text-decoration:none; }
a.forumbutton>span { display:block; height:23px; padding:0 10px 0 8px; line-height:23px; background:url(images/forum/forumbutton.png) 100% 0 no-repeat; }
a.forumbutton:hover, a.forumbutton:focus { color:#fff; text-decoration:none; text-shadow:-1px -1px 0 rgba(0,0,0,0.3); background-position:0 -30px; }
a.forumbutton:hover>span, a.forumbutton:focus>span { background-position:100% -30px; }
a.forumbutton.mousedown, a.forumbutton:focus { background-position:0 -60px; }
a.forumbutton.mousedown>span, a.forumbutton:focus>span { background-position:100% -60px; }
/* 
 * print styles
 */
@media print {
* { background: transparent !important; color: #444 !important; text-shadow: none; }
a, a:visited { color: #444 !important; text-decoration: underline; }
a:after { content: " (" attr(href) ")"; }
abbr:after { content: " (" attr(title) ")"; }
pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
img { page-break-inside: avoid; }
 @page {
margin: 0.5cm;
}
p, h2, h3 { orphans: 3; widows: 3; }
h2, h3 { page-break-after: avoid; }
}
@media all and (orientation:portrait) {
}
@media all and (orientation:landscape) {
}

/* Grade-A Mobile Browsers */
@media screen and (max-device-width: 480px) {
html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
}
